<% if @article.errors.any? %>
    <h2>The following error prevent the article from being edited</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
    </ul>
<% end %>
<div class="row">
    <div class="col-xs-12">
        <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>  
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article" %>
        </div>
      </div>   
      <ul class="nav nav-tabs">
        <li role="presentation">
            <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-12">
                        <%= f.submit class: "btn btn-danger btn-lg btn-xlarg-2" %>
                    </div>
            </div>
        </li>
        <li role="presentation">
                <div class="col-sm-8 col-sm-offset-12">
                    <%= link_to "Back to articles listing",   articles_path, class: "btn btn-danger btn-lg btn-xlarg" %>    
                </div>   
        </li>
      </ul>    
        <% end %>
    </div>
</div>
