<%= render 'shared/errors', object: @user %>
<div class="row">
    <div class="col-xs-12">
        <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                <%= f.label :email %>  
                </div>
                <div class="col-sm-8">
                <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                <%= f.label :username %>  
                </div>
                <div class="col-sm-8">
                <%= f.text_field :username, class: "form-control", placeholder: "User Name", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                <%= f.label :password %>
                </div>
                <div class="col-sm-8">
                <%= f.password_field :password, rows: 10, class: "form-control", placeholder: "Password" %>
                </div>
            </div>   
            <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <%= f.submit(@user.new_record?  ? "Sign up" : "Update Account", class: "btn btn-danger btn-lg btn-xlarg-2") %>
                    </div>
            </div>      
            <div class="col-sm-8 col-sm-offset-2 mrg-bt">
                <%= link_to "Back to Home",   root_path, class: "link" %>    
            </div>
        <% end %>
    </div>
</div>